body{
    background: url(../images/gatitos_wall.jpg) no-repeat center center fixed;
    background-size: cover;
}
.seccion{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.modal-content{
    background-color: rgb(72, 79, 90);
    opacity: 0.90;
    padding: 0 20px;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
}

p{
    color: white;
}

a{
    margin-bottom: 10px;
    margin-top: 5px;
}