nav {
    background-color: aqua;
}

.tabla1{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}