{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Estilo.css' %}">
    <title>Formulario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agregar'%}"> Agregar <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listar'%}"> listar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio'%}"> Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="text-align: center;">
        <div class="row-center">
            <form class="needs-validation" novalidate method='POST' action="{% url 'agregar' %}">
                <div class="form-row">
                    {% csrf_token %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="nombre_gato">Nombre del Gatito</label>
                        <input type="text" class="form-control" id="nombre_gato" name="nombre_gato" required>
                        <div class="invalid-feedback">
                            Ingrese el nombre del Gatito
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="edad">Edad del Gatito en Años</label>
                        <input type="number" min="0" max="20" class="form-control" id="edad" name="edad" required>
                        <div class="invalid-feedback">
                            Ingrese la Edad del Gatito de 0 a 20 años
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="duenio_nombre">Nombre del Dueño</label>
                        <input type="text" class="form-control" id="duenio_nombre" name="duenio_nombre" required>
                        <div class="invalid-feedback">
                            Ingrese el nombre del Dueño
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="duenio_apellido">Apellido del Dueño</label>
                        <input type="text" class="form-control" id="duenio_apellido" name="duenio_apellido" required>
                        <div class="invalid-feedback">
                            Ingrese el apellido del Dueño
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label name="correo" for="validationCustomUsername">Email</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="email" class="form-control" id="validationCustomUsername correo" name="correo" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor ingrese su Correo.
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="telefono">telefono</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" required>
                        <div class="invalid-feedback">
                            Ingrese el numero Telefonico
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                        <div class="invalid-feedback">
                            Ingrese la Ciudad
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <label for="region">Region</label>
                        <input type="text" class="form-control" id="region" name="region" required>
                        <div class="invalid-feedback">
                            Ingrese la Region
                        </div>
                    </div>
                </div>
                <button class="btn btn-warning" style="border-radius: 25px;margin-bottom: 7px;margin-top: 7px;" type="submit">Enviar Informacion</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();
    </script>
</body>
</html>