{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Estilo.css' %}">
    <title>Formulario</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agregar'%}"> Agregar <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listar'%}"> listar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio'%}"> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <table class="table table-sm">
        <thead class="thead-dark">
            <th class="table-primary" scope="col">ID</th>
            <th class="table-primary" scope="col">Nombre</th>
            <th class="table-primary" scope="col">Edad</th>
            <th class="table-primary" scope="col">Nombre Dueño</th>
            <th class="table-primary" scope="col">Apellido Dueño</th>
            <th class="table-primary" scope="col">Correo</th>
            <th class="table-primary" scope="col">Ciudad</th>
            <th class="table-primary" scope="col">Region</th>
            <th class="table-primary" scope="col">Telefono</th>
        </thead>
        {% for gato in gatos %}
        <thead scope="row">
            <th class="table-primary" scope="col"><p>{{ gato.id}}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.nombre_gato }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.edad }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.duenio_nombre }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.duenio_apellido }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.correo }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.ciudad }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.region }}</p></th>
            <th class="table-primary" scope="col"><p>{{ gato.telefono }}</p></th>
        </thead>
        {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>